* {
  margin: 0;
  padding: 0;
}
/* Aquí se pone el sticky porque el siguiente elemento padre es el body, así se queda pegado mientras todo el body hace scroll. Sticky se "pega" al elemento padre inmediatamente superior. Si se pusiera en el nav, solo se pegaría a los elementos dentro del nav. */
header {
  position: sticky;
  top: 0;
}
nav {
  background-color: lightgrey;
  margin-bottom: 20px;
  padding: 20px;
}
/* Esta propiedad pone el contenedor del logo en inline para que la navegación se pueda poner al lado */
.logo_container {
  display: inline-block;
}
/* Esta propiedad hace que la lista completa flote a la derecha. */
ul {
  margin: 20px 0;
  list-style: none;
  float: right; 
}
/* Esta propiedad hace que cada elemento de la linea se vea en linea y no en bloque con inline */
li {
  display: inline;
  margin: 10px;
  font-family: raleway, sans;
  text-decoration: underline;
  color: #684184;
  font-weight: bold;
}
/* Esta propiedad le dice a las clases section que siempre se ubiquen en línea sin romper la línea. */
section {
  display: inline-block;
  width: 45%;
  margin: 2%;
}
/* Esta clase es para el contenedor del título y lo alinea al centro */
.title {
  text-align: center;
}
/* El título se pone inline-block para que adopte la propiedad de su contenedor */
h1 {
  display: inline-block;
  font-family: sans, arial, raleway;
  font-weight: bolder;
  margin: 20px 20px;
  padding: 20px 0;
  font-size: 40px;
}

h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #0070ff;
  margin: 20px 0;
}

p {
  font-family: raleway, sans;
  margin: 20px 0;
}

footer {
  margin-top: 100px;
  font-weight: 400;
  color: grey;
}
